@model List<NoteModel>

    <div class="notes-toolbar">
        <h2 class="notes-heading">Notes List</h2>
        <a class="btn btn-success" asp-action="Create">Create Note +</a>
    </div>
    <div class="notes-sidebar">
        <h3>Filters</h3>
        <form method="post">
            <input type="text" class="form-control" name="filters.search" value="@ViewBag.filters?.Search" />
            <select class="form-control" name="filters.category" value="@ViewBag.filters?.Category">
                <!--Added an "All" search element,  this just passes "" as value.-->
                <option name="filters.category" value="">All</option>
                @foreach (var status in Enum.GetValues(typeof(NoteCategory)))
                {
                    if (status.ToString() == ViewBag.filters?.Category)
                    {
                        <option selected name="filters.category" value="@status">@status</option>
                    }
                    else
                    {
                        <option name="filters.category" value="@status">@status</option>
                    }
                }
            </select>
            <button class="btn btn-default" type="submit">Filter</button>
        </form>
    </div>

    
    

    <ul class="notes-list">
        @foreach (NoteModel note in Model)
        {
            <li class="note">
                <a asp-action="Edit" asp-route-id="@note.Id">
                    <div class="category">@Enum.GetName(typeof(NoteCategory), note.categoryId)</div>
                    <h2>@note.Heading</h2>
                    <p>@note.Content</p>
                </a>
            </li>
        }
    </ul>